.container {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  align-items: center;
  /* height: 500vh; */
  min-height: 500px;
  max-height: 6000px;
  background: #fff;
}

/* body {
  background-color: red;
} */
